body
{
	background-color: var(--BG1);
	color: var(--FG1);
	
	font-family: sans-serif;
	font-size: 1.5em;
}

a:hover
{
	text-decoration: underline !important;
}

div.center
{
	text-align: center;
}

div.sidebarList {
	display: inline;
	float: left;
	position: fixed;
	list-style-type: none;
	margin: 0;
	margin-top: -0.5em;
	margin-left: -0.3em;
	padding-top: 0.5em;
	padding-left: 1em;
	border-bottom-right-radius: 10px;
	background-color: var(--BG2);
	width: max-content;
	height: 2.5em;
	z-index: 1;
}

div.sidebarHeading
{
	display: inline;
	float: left;
	font-size: 2em;
	vertical-align: top;
	padding-right: 0.25em;
	padding-bottom: 0.25em;
}

div.sidebarItem
{
	display: inline-block;
	/* float: left; */
	overflow:hidden;
	margin: 0;
	margin-top: 0.25em;
	padding: 0.5em;
	padding-top: 0.25em;
	border-radius: 10px;
	text-align: center;
	vertical-align: bottom;
	width:calc(max-content)+1em;
	height: 3em;
}

div.sidebarItem:hover
{
	background-color: var(--BG1);
}

div.sidebarNoHighlight
{
	background-color: transparent;
	/*margin-top: -1em;*/
	/*overflow: scroll;*/
	height: 3em;
}

div.sidebarNoHighlight:hover
{
	background-color: transparent;
	/*vertical-align: top;*/
}

div.video
{
	font-family: monospace;
	font-size: 12pt;
	float:inline-start;
	margin: 0.1em;
	padding: 1em;
	border-radius: 25px;
	width: 240px;
	height: 15em;
}

div.video:hover
{
	background-color: var(--BG2);
}

div.channelManager
{
	background-color: var(--BG2);
	position:-webkit-sticky;
	position: sticky;
	top: 0;
	margin-left: auto;
	margin-right: 0;
	padding: 0.5em;
	padding-bottom: 0.25em;
	padding-left: 1em;
	border-radius: 15px;
	text-align: left;
	width: min-content;
	height: fit-content;
}

p.formLabel
{
	text-align: left;
}

input
{
	font-family: monospace;
}

div.subList
{
	display: inline-block;
	margin-left: 1em;
	margin-right: 1em;
	width: calc(100%-18em);
}

div.channel
{
	float: inline-start;
	font-size: 0.75em;
	overflow: auto;
	word-wrap: break-word;
	margin: 0.25em;
	padding: 1em;
	border-radius: 15px;
	width: 20em;
	height: 20em;
}

div.channel:hover
{
	background-color: var(--BG2);
}

div.channelid
{
	font-family: monospace;
	font-size: 0.75em;
}

img.avatar
{
	float: left;
	margin-right: 1em;
}

footer
{
	background-color: var(--BG2);
	color: var(--FG2);
	bottom: 0;
	position: fixed;
	text-align: right;
	vertical-align: top;
	width: 99%;
	height:1.5em;
	z-index: 0;
}
