{% extends "base.html" %}

{% block content %}
	{% for video in contents %}
		<div class="video">
			<a href="{{ video.videoLink }}"><img src="{{ video.videoThumbnail }}" width="240">
			{{ video.videoTitle }}</a><br>
			<i>uploaded by <a href="{{ video.channelLink }}">{{ video.channel }}</a></i><br>
			{{ video.publishDisp }}
		</div>
	{% endfor %}
{% endblock %}