{% extends "base.html" %}

{% block content %}
<div class="channelManager">
	<form action="" method="POST" novalidate>
		{{ channelManager.hidden_tag() }}
		<div class="center">Add/Remove Channel</div>
		<br>
			{{ channelManager.channelid.label }}:
			{{ channelManager.channelid(size=25) }}<div class="center">{{ channelManager.add() }}{{ channelManager.remove() }}</div>
	</form>
</div>
<div class="subList">
	<h2>You are currently "subscribed" to these {{ contents|length }} channels:</h2>
	{% for channel in contents %}
	<div class="channel">
		<a href="https://youtube.com/channel/{{ channel.channelid }}">{{channel.name }}</a><br>
		<a href="https://youtube.com/channel/{{ channel.channelid }}">
			<img src="{{ channel.avatar }}" class="avatar">
		</a><div class="channelid">Channel_id:{{ channel.channelid }}</div>
		<p>{{ channel.description }}</p>
	</div>
	{% endfor %}
</div>
{% endblock %}
