<table class="popup">
	<tr>
		<td width="128"><img src="{{ popupUser.avatar }}"></td>
		<td>
			<p><a href="https://youtube.com/channel/{{ popupUser.channelid }}">{{ popupUser.name }}</a></p>
			<p>{{ popupUser.description }}</p>
		</td>
	</tr>
</table>